<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @delivery_time.duration %>
</p>

<%= link_to 'Edit', edit_delivery_time_path(@delivery_time) %> |
<%= link_to 'Back', delivery_times_path %>
